<%= content_for(:navbar_class, "navbar-home") %>

<div class="banner">
  <div class="banner-content text-center">
    <h1>LEGGA Analytics</h1>
    <p>Espectrometria de Massas de Alta Resolução </p>
    <% if user_signed_in? %>
    <% else %>
    <%= link_to "Comece Aqui", new_user_session_path, class: "btn-flat"  %>
    <% end %>
  </div>
</div>
